@import "bootstrap/scss/functions";

@import "./variables";
@import "./variables-dark";

@import "bootstrap/scss/bootstrap";

@import "./products.scss";

html,
body {
  height: 100%;
  text-align: center;
  font-family:
    Noto Sans TC,
    sans-serif;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

img {
  object-fit: contain;
  max-width: 100%;
}

.primary-image {
  height: 300px;
}

.images {
  height: 150px;
}
